<!DOCTYPE html>
<html>
<head>
<link href="css/main_alt.css" rel="stylesheet">
<script src="https://use.fontawesome.com/53cd3dad7c.js"></script>
<title>{{ page.title }}</title>

</head>
<body>
<div id="wrapper">
<div id="navigation">
	<ul id="navigation">
		<li><i class="fa fa-home" style="color: #336B87;"></i><a href="/">&nbsp; Home</a></li>
	    	<li><i class="fa fa-address-card-o" style="color: #336B87;"></i><a href="/about"> &nbsp;About</a></li>
		<li><i class="fa fa-area-chart" style="color: #336B87;"></i><a href="/research/research.html"> &nbsp; Research</a></li>
		<li><i class="fa fa-newspaper-o" style="color: #336B87;"></i><a href="/blog"> &nbsp; Blog</a></li>
    </ul><!-- id="navigation" -->
</div><!-- id="navigation" -->
<div class="container">
{{ content }}
</div><!-- /.container -->
</div><!-- /.wrapper -->
</body>
</html>
