<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="css/main.css">
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	</head>
	<body>
		<nav>
    		<ul>
			<li><i class="fa fa-home" aria-hidden="true" style="color: #336B87;"></i><a href="/">Home</a></li>
	        	<li><i class="fa fa-address-card-o" aria-hidden="true" style="color: #336B87;"></i><a href="/about">About</a></li>
			<li><i class="fa fa-area-chart" aria-hidden="true" style="color: #336B87;"></i><a href="/research/research.html">Research</a></li>
			<li><i class="fa fa-newspaper-o" aria-hidden="true" style="color: #336B87;"></i><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
    </div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:nicolas.scholtes@unamur.be">email</a></li>
        		<li><a href="https://github.com/nscholtes">github.com/nscholtes</a></li>
			</ul>
		</footer>
	</body>
</html>
